@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v12/rax8HiqOu8IVPmn7f4xp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    font-family: 'Bitter', serif;
    background-image: url("https://wallpapercave.com/wp/VGbYEP3.png");
    color: white;
    border-spacing: 20px;
    border-radius: 5%;
    align-content: right;
    padding: 10px;
    font-size: 15px;
}

#users {
    grid-template-columns: repeat(3fr);
    display: grid;
}

h1 {
    font-size: 100px;
}

label {
    width: 100px;
}

input, 
button {
    font-size: 30px;
}

button {
    border: none;
    background-color: white;
    color: black;
    padding: 5px 20px;
    font-weight: bold;
    display: inline-block;
    border-spacing: 10px;
}

p {
    font-style: bold;
    font-size: 30px;
}

ul {
    height: 100px;
    width: 400px;
    font-size: 20px;
}